################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleCallAPI/v16
/ConsoleCallAPI/bin/Debug
/ConsoleCallAPI/obj/Debug
/packages/Newtonsoft.Json.12.0.3
